.logo {
  font-family: 'PT Serif', serif;
}

.menu__item {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-family: 'PT Serif', serif;
}

.text {
  font-family: 'Roboto', sans-serif;
}

.btn {
  font-family: 'Roboto', sans-serif;
}