body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 127px;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 48px;
  font: 24px/31px pt_serifbold, Arial, sans-serif;
}

.menu, .logo {
  display: inline-block;
}

.hamburger-menu {
  display: none;
}

.logo__circle {
  position: absolute;
  left: 3px;
  top: 48%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 12px;
  top: 56%;
  background: #C8DBFB;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 11px;
  /* padding-right: 11px;
  padding-top: 2px; */
}

.menu__item {
  position: relative;
  margin-right: 26px;
  margin-top: 4px;
  font: 18px/21px robotomedium, Arial, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s ;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover:after {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
}

.main {
  padding: 81px 64% 143px 4px;
  background: top 5px right 5px no-repeat url(img/mainImg.svg);
  background-size: 50% auto;
  margin-bottom: 125px;
}

.main__title {
  margin: 2px 0 38px 0;
  font: 66px/85px pt_serifbold, Arial, sans-serif;
}

.main__title-text_highlight {
  background: linear-gradient(to top, #ecf3ff 0%, #ecf3ff 60%, #fff 82% 100%);
}

.main__subtitle {
  margin: 0 0 41px 0;
  font: 22px/26px robotoregular, Arial, sans-serif;
}

.main__button {
  display: inline-block;
  font: 18px/21px robotomedium, Arial, sans-serif;
  color: #FFF;
  background: #0056EC;
  padding: 19px 35px 18px 21px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.ellipsis {
  margin: auto;
  background: url('img/ellipsis.svg');
  width: 32px;
  height: 8px;
}

@media (max-width: 1790px) {
  .main {
    padding: 81px 57% 147px 4px;
  }
}

@media (max-width: 1367px) {
  .wrapper {
    width: 68%;
  }

  .header {
    margin-bottom: 80px;
  }

  .logo {
    padding-left: 45px;
  }

  .menu {
    margin-right: 4px;
  }

  .menu__item {
    margin-right: 26px;
    font: 14px/16px robotomedium, Arial, sans-serif;
  }

  .main {
    padding: 23px 56% 50px 1px;
    background-position: top 6px right 2px;
    background-size: 55% auto;
    margin-bottom: 97px;
  }

  .main__title {
    font: 50px/65px pt_serifbold, Arial, sans-serif;
  }

  .main__subtitle {
    font: 18px/21px robotomedium, Arial, sans-serif;
    margin-right: 2px;
    margin-bottom: 42px;
  }

  .main__button {
    font: 14px/16px robotomedium, Arial, sans-serif;
    padding: 12px 25px 15px 16px;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    width: 80%;
  }
}

@media (max-width: 1025px) {
  .wrapper {
    width: 91%;
  }

  .header {
    margin-left: -3px;
    padding-right: 0;
  }

  .logo {
    padding-left: 47px;
  }

  .menu {
    margin-right: 1px;
    margin-top: 2px;
  }

  .main {
    padding-left: 0px;
  }

  .main__title {
    margin-top: 0;
  }

  .main__button {
    padding: 14px 25px 14px 16px;
  }
}

@media (max-width: 980px) {
  .main {
    background-size: 55% auto;
  }

  .main__title {
    font: bold 45px/60px pt_serifbold, arial, helvetica, sans-serif;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 28px;
  }
  
  .logo__text {
    display: none;
  }

  .menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 38px;
    right: 24px;
    width: 25px;
    height: 3px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0056EC;
  }

  .menu__btn>span::before {
    content: '';
    top: -8px;
  }

  .menu__btn>span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0 -1px;
    padding: 185px 0;
    list-style: none;
    text-align: center;
    background-color: #FFF;
  }

  .menu__item {
    display: inline-block;
    margin-bottom: 25px;
    color: #333;
    font: 30px/35px 'robotomedium', Arial, Helvetica, sans-serif;
    text-decoration: none;
  }

  #menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
    transition-duration: .25s;
  }

  .menu__box {
    transition-duration: .25s;
  }

  .menu__item {
    transition-duration: .25s;
  }

  .main {
    text-align: center;
    /* padding: 23px 56% 143px 0px; */
    margin-bottom: 18px;
    /* padding: 223px 0 25px 0; */
    padding: 480px 25px 25px 25px;
    background-size: 74%;
    background-position: top center;
  }

  .main__title {
    margin-bottom: 44px;
    font: 50px/65px pt_serifbold, Arial, sans-serif;
  }

  .main__subtitle {
    margin-bottom: 50px;
    font: 20px/23px robotomedium, Arial, sans-serif;
    padding: 0px 80px;
  }

  .main__button {
    font: 16px/19px robotomedium, Arial, sans-serif;
  }

  .ellipsis {
    display: none;
  }
}

@media (max-width: 650px) {
  .main {
    padding: 420px 25px 25px 25px;
  }
}

@media (max-width: 520px) {
  .main {
    padding: 300px 10px 25px 10px;
  }

  .main__title {
    font: 35px/44px pt_serifbold, Arial, sans-serif;
  }

  .main__subtitle {
    font: 20px/23px robotomedium, Arial, sans-serif;
    padding: 0;
  }

  .main__button {
    font: 14px/16px robotomedium, Arial, sans-serif;
  }
}

@media (max-width: 376px) {
  .wrapper {
    width: 87%;
  }

  .header {
    margin-bottom: 7px;
  }

  .menu__box {
    padding: 181px 0;
  }

  .menu__item {
    padding-bottom: 0;
    margin-bottom: 21px;
  }

  .main {
    padding: 261px 0px 25px 6px;
    background-position: top center;
    background-size: 86% auto;
  }

  .main__title {
    margin-bottom: 33px;
    font: 30px/39px pt_serifbold, Arial, sans-serif;
  }

  .main__subtitle {
    padding: 0 30px;
    font: 16px/19px robotomedium, Arial, sans-serif;
    margin-bottom: 26px;
  }

  .main__button {
    padding: 14px 28px 14px 13px;
    font: 14px/16px robotomedium, Arial, sans-serif;
  }
}