body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 246px;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: 24px/31px pt_serifbold, Arial, sans-serif;
}

.menu, .logo {
  display: inline-block;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu{
  display: flex;
  align-items: center;
}

.menu__item {
  font: 18px/21px robotomedium, Arial, sans-serif;
  padding: 0 13px;
}

.menu__item:last-child {
  padding-right: 0;
}

.main-content {
  width: 37%;
}

.main-content__title {
  font: 66px/85px pt_serifbold, Arial, sans-serif;
  margin-bottom: 40px;
}

.main-content__description {
  font: 22px/26px robotoregular, Arial, sans-serif;
  margin-bottom: 41px;
}

.main-content__button {
  font: 18px/21px robotomedium, Arial, sans-serif;
}